/* ---- Footer ---- */
footer{ 
  background: #242729; /* dark gray */
  color: #eef2f4; /* white */
  padding: 20px 0;
  overflow: hidden;
  text-align: left;
  float:left;
  width: 100%;
  position:relative;
  margin-top: 20px;
}
#social svg{ 
  margin: 20px;
  height: 40px;
  width: 40px;
  fill: #eef2f4;
}
#social a:hover svg{
  fill: #82868a;
}

footer p{
  padding: 20px 0px;
}
footer h4{
  font-family: 'Montserrat-Light';
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
div#contact, div#social{
  height: auto;
  width: 50%;
}
